@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
.navbar {
  background-color: #73b7e1;
}

.navbar-brand {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: x-large !important;
}
#Hero {
  background-color: #cde5f4;
  color: #73b7e1;
}
#About {
  color: #73b7e1;
}
#Judul {
  background-color: #73b7e1;
  color: #ffffff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: fit-content;
  border-radius: 5px;
  margin: auto;
}
.rounded-circle {
  --bs-border-color: #73b7e1;
}
#Projects {
  background-color: #cde5f4;
}
.card {
  max-width: 18rem;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
#Contact {
  background-color: #cde5f4;
  color: #73b7e1;
}
.btn-down {
  background-color: #73b7e1 !important;
  color: #ffffff !important;
  width: 170px;
}
.btn-down:hover {
  transform: scale(1.05);
}
footer {
  background-color: #73b7e1;
  color: white;
}
ul.timeline {
  list-style-type: none;
}
/* ul.timeline::before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
} */
#Sertif {
  color: #73b7e1;
}
